<div class="row">
  <div class="col text-center">
    <h1>Login to view and manage your expenses</h1>
  </div>
</div>

<div class="row">
    <div class="col py-3">
      <p class="text-center">User login form here...</p>
    </div>
  </div>

<div class="row">
  <div class="col text-center py-5">
    <a routerLink="/dashboard" class="btn btn-success" role="button">Login (Go to User Dashboard)</a> <br><br>
    <a routerLink="/" class="btn btn-success" role="button">Back to home</a>
  </div>
</div>